<!--
<p>categorie-list works!</p>
-->

<!-- INFO BOOTSTRAP
    <ol> Lista Ordenada
    <li> Item da lista
    class mb - Margin Botton - Magem inferior
    class bg-primery - background primary - Cor primary de fundo
    class mr-2 - Margin right 2

    INFO ANGULAR
    [routerLink]="[12, 'edit']" - SIGNIFICA QUE IRA MONTAR A ROTA DA URL COM O categories/ID:12/edit
-->
<nav class="mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/">Home</a>
        </li>
        <li class="breadcrumb-item active">
            Categorias
        </li>
    </ol>
</nav>

<div class="row mb-4"> <!-- LINHA -->
    <div class="col-md">
        <h1 class="h2 border-left pl-2">
            Categorias
        </h1>
    </div>
    <div class="col-md">
        <a routerLink="new" class="btn btn-success float-right">
            + Nova Categoria
        </a>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr class="bg-primary text-light">
            <th>Categoria</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let categorie of categories">
            <td>
                <strong>{{categorie.name}}</strong><br />
                <small>{{categorie.description}}</small>
            </td>
            <td>
                <a [routerLink]="[categorie.id, 'edit']" class="btn btn-outline-info btn-sm mr-2">Editar</a>
                <button (click)="deleteCategorie(categorie)" class="btn btn-outline-danger btn-sm">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>